In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [16]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [42]:
df.groupby("Element")["Y2017"].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [63]:
df.groupby("Area")["Y2017"].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64

In [65]:
df['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [82]:
df.groupby("Area").describe()

                            Area Code                                          \
                                count   mean  std    min    25%    50%    75%
Area
Algeria                        1313.0    4.0  0.0    4.0    4.0    4.0    4.0
Angola                         1424.0    7.0  0.0    7.0    7.0    7.0    7.0
Benin                          1285.0   53.0  0.0   53.0   53.0   53.0   53.0
Botswana                       1378.0   20.0  0.0   20.0   20.0   20.0   20.0
Burkina Faso                   1409.0  233.0  0.0  233.0  233.0  233.0  233.0
Cabo Verde                     1260.0   35.0  0.0   35.0   35.0   35.0   35.0
Cameroon                       1460.0   32.0  0.0   32.0   32.0   32.0   32.0
Central African Republic       1344.0   37.0  0.0   37.0   37.0   37.0   37.0
Chad                           1343.0   39.0  0.0   39.0   39.0   39.0   39.0
Comoros                          45.0   45.0  0.0   45.0   45.0   45.0   45.0
Congo                          1413.0   46.0  0.0   46.0   46.0   46.0   46.0
Côte d'Ivoire                  1467.0  107.0  0.0  107.0  107.0  107.0  107.0
Djibouti                       1095.0   72.0  0.0   72.0   72.0   72.0   72.0
Egypt                          1488.0   59.0  0.0   59.0   59.0   59.0   59.0
Eswatini                       1284.0  209.0  0.0  209.0  209.0  209.0  209.0
Ethiopia                       1447.0  238.0  0.0  238.0  238.0  238.0  238.0
Ethiopia PDR                     39.0   62.0  0.0   62.0   62.0   62.0   62.0
Gabon                          1245.0   74.0  0.0   74.0   74.0   74.0   74.0
Gambia                         1168.0   75.0  0.0   75.0   75.0   75.0   75.0
Ghana                          1354.0   81.0  0.0   81.0   81.0   81.0   81.0
Guinea                         1410.0   90.0  0.0   90.0   90.0   90.0   90.0
Guinea-Bissau                  1128.0  175.0  0.0  175.0  175.0  175.0  175.0
Kenya                          1560.0  114.0  0.0  114.0  114.0  114.0  114.0
Lesotho                        1150.0  122.0  0.0  122.0  122.0  122.0  122.0
Liberia                        1206.0  123.0  0.0  123.0  123.0  123.0  123.0
Madagascar                     1439.0  129.0  0.0  129.0  129.0  129.0  129.0
Malawi                         1447.0  130.0  0.0  130.0  130.0  130.0  130.0
Mali                           1293.0  133.0  0.0  133.0  133.0  133.0  133.0
Mauritania                     1195.0  136.0  0.0  136.0  136.0  136.0  136.0
Mauritius                      1378.0  137.0  0.0  137.0  137.0  137.0  137.0
Morocco                        1393.0  143.0  0.0  143.0  143.0  143.0  143.0
Mozambique                     1427.0  144.0  0.0  144.0  144.0  144.0  144.0
Namibia                        1283.0  147.0  0.0  147.0  147.0  147.0  147.0
Niger                          1403.0  158.0  0.0  158.0  158.0  158.0  158.0
Nigeria                        1474.0  159.0  0.0  159.0  159.0  159.0  159.0
Rwanda                         1426.0  184.0  0.0  184.0  184.0  184.0  184.0
Sao Tome and Principe          1177.0  193.0  0.0  193.0  193.0  193.0  193.0
Senegal                        1462.0  195.0  0.0  195.0  195.0  195.0  195.0
Seychelles                       68.0  196.0  0.0  196.0  196.0  196.0  196.0
Sierra Leone                   1242.0  197.0  0.0  197.0  197.0  197.0  197.0
South Africa                   1399.0  202.0  0.0  202.0  202.0  202.0  202.0
Sudan                          1316.0  276.0  0.0  276.0  276.0  276.0  276.0
Sudan (former)                   53.0  206.0  0.0  206.0  206.0  206.0  206.0
Togo                           1294.0  217.0  0.0  217.0  217.0  217.0  217.0
Tunisia                        1338.0  222.0  0.0  222.0  222.0  222.0  222.0
Uganda                         1458.0  226.0  0.0  226.0  226.0  226.0  226.0
United Republic of Tanzania    1419.0  215.0  0.0  215.0  215.0  215.0  215.0
Zambia                         1451.0  251.0  0.0  251.0  251.0  251.0  251.0
Zimbabwe                       1393.0  181.0  0.0  181.0  181.0  181.0  181.0

                                   Item Code               ...    Y2017  \
                               max     count         mean  ...      75%
Area                                                       ...
Algeria                        4.0    1313.0  2690.063214  ...  28.0000
Angola                         7.0    1424.0  2682.519663  ...  14.0000
Benin                         53.0    1285.0  2687.698054  ...  13.0000
Botswana                      20.0    1378.0  2688.608128  ...   2.1600
Burkina Faso                 233.0    1409.0  2681.898510  ...   8.0000
Cabo Verde                    35.0    1260.0  2695.830159  ...   3.0000
Cameroon                      32.0    1460.0  2682.245205  ...  21.0000
Central African Republic      37.0    1344.0  2684.186012  ...   4.6800
Chad                          39.0    1343.0  2685.427401  ...   6.0000
Comoros                       45.0      45.0  2766.977778  ...   0.8000
Congo                         46.0    1413.0  2683.672328  ...   3.0000
Côte d'Ivoire                107.0    1467.0  2682.220859  ...  15.0000
Djibouti                      72.0    1095.0  2699.614612  ...   2.1700
Egypt                         59.0    1488.0  2685.864919  ...  47.0000
Eswatini                     209.0    1284.0  2691.724299  ...   3.4750
Ethiopia                     238.0    1447.0  2680.139599  ...  18.1075
Ethiopia PDR                  62.0      39.0  2765.461538  ...   0.0000
Gabon                         74.0    1245.0  2694.305221  ...   5.0000
Gambia                        75.0    1168.0  2692.981164  ...   3.0000
Ghana                         81.0    1354.0  2687.842688  ...  29.0000
Guinea                        90.0    1410.0  2682.372340  ...   8.0000
Guinea-Bissau                175.0    1128.0  2691.111702  ...   4.3325
Kenya                        114.0    1560.0  2683.100641  ...  17.0000
Lesotho                      122.0    1150.0  2695.085217  ...   3.1725
Liberia                      123.0    1206.0  2694.800166  ...   4.0000
Madagascar                   129.0    1439.0  2685.377345  ...   7.0000
Malawi                       130.0    1447.0  2680.987560  ...   8.0000
Mali                         133.0    1293.0  2683.585460  ...  21.5000
Mauritania                   136.0    1195.0  2696.323849  ...   5.5875
Mauritius                    137.0    1378.0  2693.459361  ...   3.6925
Morocco                      143.0    1393.0  2687.065327  ...  34.0000
Mozambique                   144.0    1427.0  2684.168886  ...  12.8625
Namibia                      147.0    1283.0  2691.134061  ...   5.7000
Niger                        158.0    1403.0  2682.635068  ...   4.0000
Nigeria                      159.0    1474.0  2682.738806  ...  61.0000
Rwanda                       184.0    1426.0  2681.686536  ...   5.0000
Sao Tome and Principe        193.0    1177.0  2691.631266  ...   1.0000
Senegal                      195.0    1462.0  2682.749658  ...   8.8875
Seychelles                   196.0      68.0  2768.617647  ...   0.4475
Sierra Leone                 197.0    1242.0  2691.872786  ...   6.0000
South Africa                 202.0    1399.0  2687.190136  ...  55.5000
Sudan                        276.0    1316.0  2685.912614  ...  19.3000
Sudan (former)               206.0      53.0  2766.622642  ...   0.0000
Togo                         217.0    1294.0  2688.429675  ...  10.0000
Tunisia                      222.0    1338.0  2692.689088  ...  19.0000
Uganda                       226.0    1458.0  2681.144719  ...  14.0000
United Republic of Tanzania  215.0    1419.0  2684.671600  ...  27.0000
Zambia                       251.0    1451.0  2682.840110  ...   6.0000
Zimbabwe                     181.0    1393.0  2684.344580  ...   8.0000

                                         Y2018                            \
                                   max   count         mean          std
Area
Algeria                       41389.00  1298.0   263.274253  1590.356861
Angola                        29817.00  1396.0   168.486160  1137.007472
Benin                         11175.00  1252.0    99.808866   545.635050
Botswana                       2341.00  1361.0    16.994181   113.793798
Burkina Faso                  19193.00  1373.0    82.280204   646.445752
Cabo Verde                     2530.00  1192.0    12.267282   107.229191
Cameroon                      24566.00  1432.0   162.725510   911.207104
Central African Republic       4596.00  1308.0    23.013433   166.536536
Chad                          15017.00  1305.0    55.388690   471.707604
Comoros                          16.65    45.0     1.329778     3.578664
Congo                          5111.00  1377.0    30.505105   201.177396
Côte d'Ivoire                 24437.00  1455.0   156.026117   975.517379
Djibouti                       2664.00  1040.0    22.806692   144.371308
Egypt                         96443.00  1468.0   580.826240  3540.908442
Eswatini                       5553.00  1231.0    44.715735   399.039402
Ethiopia                     106400.00  1425.0   316.343060  3200.112189
Ethiopia PDR                      0.00    39.0     0.000000     0.000000
Gabon                          2640.00  1192.0    23.774648   133.556364
Gambia                         2544.00  1118.0    21.032021   149.112662
Ghana                         29121.00  1337.0   268.448497  1818.707255
Guinea                        12068.00  1385.0    74.557458   457.409055
Guinea-Bissau                  2233.00  1091.0    17.413309   121.702160
Kenya                         50221.00  1548.0   175.010853  1448.717847
Lesotho                        2475.00  1094.0    17.467303   130.133018
Liberia                        4702.00  1133.0    26.151659   185.772512
Madagascar                    25571.00  1424.0    94.505927   812.119103
Malawi                        17670.00  1410.0   132.883752   834.095024
Mali                          18512.00  1260.0   126.211444   764.364610
Mauritania                    51864.00  1170.0   134.598248  1963.648701
Mauritius                      3713.00  1342.0    35.134806   260.042960
Morocco                       38348.00  1368.0   291.864963  1924.375988
Mozambique                    28649.00  1400.0   117.810036   992.481626
Namibia                        2465.00  1256.0    23.367866   134.470712
Niger                         21602.00  1368.0    97.940687   739.976796
Nigeria                      190873.00  1456.0  1030.064725  7844.078817
Rwanda                        11981.00  1403.0    53.342181   405.123587
Sao Tome and Principe          2407.00  1109.0    11.547782   108.391990
Senegal                       15419.00  1448.0    65.948771   494.072802
Seychelles                      204.02    68.0     6.505000    30.566295
Sierra Leone                   7488.00  1197.0    46.768363   309.591137
South Africa                  57010.00  1396.0   365.177629  2217.539021
Sudan                         40813.00  1268.0   211.399361  1391.731877
Sudan (former)                    0.00    53.0     0.000000     0.000000
Togo                           7698.00  1266.0    43.342812   281.434529
Tunisia                       11433.00  1320.0    96.472098   486.351462
Uganda                        41167.00  1445.0   153.735121  1249.223877
United Republic of Tanzania   54660.00  1408.0   248.411513  1773.352142
Zambia                        16854.00  1421.0    71.501949   584.960419
Zimbabwe                      14237.00  1356.0    56.475966   479.406351


                                min  25%    50%      75%        max
Area
Algeria                       -90.0  0.0  1.000  27.2850   42228.00
Angola                       -240.0  0.0  0.030  12.0000   30810.00
Benin                        -256.0  0.0  0.590  13.2500   11485.00
Botswana                      -35.0  0.0  0.000   3.0000    2342.00
Burkina Faso                  -77.0  0.0  0.010   8.2000   19751.00
Cabo Verde                    -16.0  0.0  0.010   3.0000    2541.00
Cameroon                     -175.0  0.0  0.310  21.0000   25216.00
Central African Republic       -4.0  0.0  0.000   3.5500    4666.00
Chad                          -10.0  0.0  0.000   6.0000   15478.00
Comoros                         0.0  0.0  0.020   0.8000      16.65
Congo                         -17.0  0.0  0.000   3.0000    5244.00
Côte d'Ivoire                -151.0  0.0  0.370  14.9450   25069.00
Djibouti                      -10.0  0.0  0.020   2.7300    2694.00
Egypt                       -3396.0  0.0  1.000  48.0000   98424.00
Eswatini                      -10.0  0.0  0.050   4.0000    5596.00
Ethiopia                    -1000.0  0.0  0.140  20.0000  109224.00
Ethiopia PDR                    0.0  0.0  0.000   0.0000       0.00
Gabon                         -22.0  0.0  0.010   5.0000    2633.00
Gambia                         -4.0  0.0  0.010   3.0000    2533.00
Ghana                        -502.0  0.0  1.000  28.0000   30317.00
Guinea                        -12.0  0.0  0.000   9.0000   12414.00
Guinea-Bissau                  -3.0  0.0  0.050   4.0000    2229.00
Kenya                        -177.0  0.0  0.640  16.0000   51393.00
Lesotho                       -70.0  0.0  0.010   3.0000    2323.00
Liberia                       -23.0  0.0  0.020   3.7200    4819.00
Madagascar                   -336.0  0.0  0.030   7.3000   26262.00
Malawi                       -237.0  0.0  0.000   7.0000   18143.00
Mali                         -598.0  0.0  0.900  18.4900   19078.00
Mauritania                    -12.0  0.0  0.010   5.8650   51864.00
Mauritius                     -34.0  0.0  0.120   4.0000    3155.00
Morocco                      -169.0  0.0  2.000  36.0000   38349.00
Mozambique                  -1445.0  0.0  0.230  11.0000   29496.00
Namibia                       -30.0  0.0  0.110   5.0000    2469.00
Niger                        -434.0  0.0  0.000   4.0000   22443.00
Nigeria                      -374.0  0.0  0.570  54.5950  195875.00
Rwanda                       -682.0  0.0  0.000   4.0000   12302.00
Sao Tome and Principe          -1.0  0.0  0.000   1.0000    2446.00
Senegal                      -101.0  0.0  0.060   8.0075   15854.00
Seychelles                      0.0  0.0  0.035   0.4475     204.02
Sierra Leone                 -180.0  0.0  0.080   6.0000    7650.00
South Africa                 -597.0  0.0  3.000  50.5000   57793.00
Sudan                         -99.0  0.0  0.060  20.0000   41802.00
Sudan (former)                  0.0  0.0  0.000   0.0000       0.00
Togo                          -84.0  0.0  0.260   9.0000    7889.00
Tunisia                      -319.0  0.0  1.320  18.0000   11565.00
Uganda                       -271.0  0.0  0.020  12.7300   42729.00
United Republic of Tanzania  -913.0  0.0  1.000  28.2500   56313.00
Zambia                       -529.0  0.0  0.000   6.0000   17352.00
Zimbabwe                     -273.0  0.0  0.120   7.0000   14439.00

[49 rows x 64 columns]

ValueError: ignored

In [87]:
df.shape

(60943, 12)

In [98]:
df.groupby("Element")[["Y2014", "Y2015", "Y2016", "Y2017"]].count()

                                        Y2014  Y2015  Y2016  Y2017
Element
Domestic supply quantity                 5244   5245   5250   5258
Export Quantity                          3660   3704   3653   3660
Fat supply quantity (g/capita/day)       4965   4974   4980   4982
Feed                                     1216   1177   1215   1213
Food                                     4896   4901   4910   4912
Food supply (kcal/capita/day)            4947   4955   4963   4965
Food supply quantity (kg/capita/yr)      4860   4865   4874   4876
Import Quantity                          4919   4911   4908   4929
Losses                                   2009   2009   2009   2009
Other uses (non-food)                    1662   1667   1634   1619
Processing                               1987   1995   1996   1998
Production                               3830   3828   3838   3829
Protein supply quantity (g/capita/day)   4963   4971   4978   4980
Residuals                                4604   4605   4610   4618
Seed                                      762    759    759    758
Stock Variation                          4230   4229   4231   4231
Total Population - Both sexes              45     45     45     45
Tourist consumption                       555    555    555    555

In [99]:
my_tuppy = (1,2,5,8)

In [100]:
my_tuppy[2] = 6

TypeError: ignored

In [101]:
S = [['him', 'sell'], [90, 28, 43]]

In [102]:
S[0][1][1]

'e'

In [103]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [104]:
x=y[1][1]

In [105]:
x

8

In [108]:

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

pd.DataFrame(lst, columns=col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [110]:
df.groupby("Area")["Y2017"].sum()

Area
Algeria                         325644.27
Angola                          229159.57
Benin                           124771.22
Botswana                         22101.30
Burkina Faso                    101855.07
Cabo Verde                       14650.74
Cameroon                        232030.43
Central African Republic         29937.00
Chad                             71594.68
Comoros                             59.84
Congo                            41181.68
Côte d'Ivoire                   224599.01
Djibouti                         22729.91
Egypt                           866379.92
Eswatini                         54343.33
Ethiopia                        448683.76
Ethiopia PDR                         0.00
Gabon                            27979.64
Gambia                           23154.18
Ghana                           337599.06
Guinea                           98138.87
Guinea-Bissau                    19102.77
Kenya                           264660.66
Lesotho                          21267.96
Liberia                          29342.20
Madagascar                      131197.73
Malawi                          181098.71
Mali                            149928.33
Mauritania                      156665.46
Mauritius                        51114.83
Morocco                         388495.36
Mozambique                      161407.98
Namibia                          29874.89
Niger                           126707.58
Nigeria                        1483268.23
Rwanda                           73663.69
Sao Tome and Principe            12662.63
Senegal                          95681.15
Seychelles                         442.34
Sierra Leone                     55311.33
South Africa                    517590.54
Sudan                           239931.92
Sudan (former)                       0.00
Togo                             49841.88
Tunisia                         124167.20
Uganda                          213950.38
United Republic of Tanzania     322616.85
Zambia                          103223.77
Zimbabwe                         75919.34
Name: Y2017, dtype: float64